html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
  display: none;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
  overflow-x: hidden;
  background-image: url(images/Ajax-website-Banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* font-family: 'Poppins', Arial, sans-serif; */
}

@media screen and (max-width: 1350px){
  #scrolltotop{
    display:none !important;
  }
}
@media only screen and (max-width: 650px) {
  .about-us p{
    font-size: small;
    text-align: left;
  }
  .carousel-item *{
    font-size:medium;
  }

}
#devide{
  width: 100%;
  height: 5rem;
  background-image: linear-gradient(to bottom,#05242e70, #f1f1f1f1);
}
#devide-footer{
  width: 100%;
  height: 1rem;
  background-image: linear-gradient(to top,#05242ed3, white);
}
#logoimg{
  transition: 0.5s;
  width: 195px;
}
h3{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#scrolltotop{
  background-color: #e6e6e6;
  border: 1px solid rgba(0, 0, 0, 0.055);
  width: 60px;
  height: 60px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  display: none;
  transition: 0.3s;
  opacity: 0.7;
}
#scrolltotop:hover{
 opacity: 1;
}

nav{
    background-image: linear-gradient(to right,#052630de, #10779600);
    overflow: hidden;
    padding: 0rem !important;
    transition: 0.5s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.navbar-brand{
  padding: 0!important;
}
.fa-bars {
  color: #052630de;
  font-size: 30px;
}
#logo{
  padding-left: 0.75rem;
}
#logo:hover{
  background-color: rgba(255,255,255,0);
}
nav a{
    font-size: large;
    color: #109796;
    cursor: pointer;
    transition-duration: 0.5s;
    transition: ease-in-out 0.5s;
    
}
nav a:hover{
    /* color: #107796; */
    color: white;
    /* background-image: linear-gradient(to left,#052630de, #9682101e); */
    border-radius: 4%;
    background-color: rgba(255, 187, 0, 0.158);
}
/* .firstbanner{
  padding-top: 1.75rem;
  background-color: rgb(230, 231, 233);
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  height: 800px;
} */
.imagetexthover {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}
/* .firstbanner img{
  width: 100%;
  min-height: 500px;
  max-height: 750px;
  object-fit: cover;
} */
.carousel button{
 padding: 1.3em 3em;
 font-size: 12px;
 text-transform: uppercase;
 letter-spacing: 2.5px;
 font-weight: 500;
 color: #000;
 background-color: #fff;
 border: none;
 border-radius: 45px;
 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 transition: all 0.3s ease 0s;
 cursor: pointer;
 outline: none;
}
.carousel  button:hover{
  background-color: #2EE59D;
 box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
 color: #fff;
 transform: translateY(-7px);
}

#services{
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  /* margin-bottom: 2rem; */
  background-color: #f1f1f1f1;
}
#services h1{
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  border-right: 1px solid rgba(0, 0, 0, 0.11);
  border-left: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 100%;
  padding-bottom: 1rem; */
  text-align: center;
}
.services .col-md-3{
  text-align: center;
  /* background-color: #f1f1f1; */
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: 0.3s;
  transition-delay: 0.1s;
  border: 1px solid rgba(211, 211, 211, 0.219);
}
.services .col-md-3:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: rgba(255, 255, 255, 0.774);
  transform: translateY(-10px);
}
.services .col-md-3 i{
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.192);
  padding: 1rem;
}
.services #service1{
  background-image: url("images/service1.jpeg");
  background-size: cover;
}
.services #service2{
  background-image: url("images/service2.jpg");
  background-size: cover;
}
.services #service3{
  background-image: url("images/service3d.jpg");
  background-size: cover;
}
.services button{
  display: contents;
}

#bgcarousel{
  background-image: linear-gradient(to bottom,#05242e70, rgba(255, 255, 255, 0.534));
}
.carousel{
  /* margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-inline: 0.75rem;
  background-color: #efefef; */
  padding-bottom: 0.25rem;
  width: 90%;
  left: 5%;
  padding-top: 2.5rem;
  
}

.carousel-inner img {
  /* border-radius: 0.5rem; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  width: 100%;
  height: auto;
  min-height: 400px;
  max-height: 706px;
  object-fit: fill;
  border: #0000001f 2px solid;
  }
  .carousel-inner video {
    /* border-radius: 0.5rem; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    width: 100%;
    height: auto;
    min-height: 400px;
    max-height: 700px;
    object-fit: fill;
    filter:brightness(50%);
    border: #0000001f 2px solid;
  }
  .about-us{
    padding-top: 3rem;
    padding-bottom: 3.5rem;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-image: linear-gradient(to top,#05242e70, rgba(255, 255, 255, 0.534));
  }
  /* .about-us .col-lg-8{
    background-color: #05263091;
        box-shadow: rgba(87, 53, 3, 0.39) 0px 22px 70px 4px;
  } */
  .about-us .col-lg-9{
    font-size: 18px;
    background-color: #1a1f20b6;
    color: white;
    border-radius: 1%;
    text-align: center;
    box-shadow: rgba(87, 53, 3, 0.39) 0px 22px 70px 4px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .about-us h1{
    font-size: 50px;
    color: rgba(34, 23, 0, 0.938);
  }
  .about-us p{
    padding: 0rem 0.5rem;
    margin: 0.5rem 0rem;
    
  }
  .footercontainer{
    background-image: linear-gradient(to top,#000000, #05242ed3);
    padding-top: 1rem;
  }
  .footercontainer .col-md-6,.footercontainer .col-md-4,.footercontainer .col-md-6 p{
    text-align: center;
    color: whitesmoke;

  }
  #mapfooter{
    background-image: url(images/map_footer.png);
    background-repeat: no-repeat;
    background-size: 40%;
    position: relative;
    background-position: center center;
  }
  
  #footerlogo{
    width: 190px;
    margin-bottom: 1rem;
  }
  #copyright {
    background-color: black;
    position: static;
    width: 100%;
    color: rgb(255, 255, 255);
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
  }


* {
    box-sizing: border-box;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=tel], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display:table-column-group;
  }

  input[type=submit] {
    background-color: #109796;
    color: white;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    float: left;
  }

  input[type=submit]:hover {
    background-color: #107796;
  }
  textarea[name=comment]{
    resize: none;
  }

  #contact{
    background-image: linear-gradient(to bottom,#05242e70, white);
    padding-bottom: 2rem;
  }
  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  .container h3{
    font-size: 40px;
  }

  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.219);
    height: 10%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 70%;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 30s linear infinite;
            animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    margin: 2rem;
    height: 100px;
    width: 250px;
  }
  .slider-sector{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: linear-gradient(to top,#05242e70, #f1f1f1f1);
  }
  
.modal-body img{
  margin: 1rem 0rem 3rem 0rem;
  border-radius: 3% 15%;
  width: 100%;
  transition:ease-in-out 0.5s;
}
.modal-body img:hover{
  transform:scale(1.1,1.1);
}
