html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    display: none;
}
body{
    overflow-x: hidden;
}
#scrolltotopoffer{
    background-color: #e6e6e6;
    border: 1px solid rgba(0, 0, 0, 0.055);
    width: 60px;
    height: 60px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    transition: 0.3s;
    opacity: 0.7;
}
#scrolltotop:hover{
    opacity: 1;
}
@media screen and (max-width: 1350px){
    #scrolltotopoffer{
        display:none !important;
    }
}
.mainbaner{
    position: relative;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f0f0f0;
}
@media screen and (max-width: 767px) {
    video{
        width: 90% !important;
    }
    .col-xl-3{
        padding: 0 !important;
    }
    #mainbanerheader{
        font-size: 32px !important;
    }
    #mainbanertext{
        font-size: 18px !important;
    }
    .mainbaner{
        background-position: top;
        background-image: url(images/sk_cam_plus_m1@1xdark.jpg);
    }
}
@media screen and (max-width: 992px){
    .mainbaner{
        height: 632px;
    }
}

@media screen and (min-width: 768px) {
    .mainbaner{
        background-position: top;
        background-image: url(images/sk_cam_plus_m1@1xdark.jpg);
    }
}
@media (min-width: 992px) {
    .mainbaner{
        background-image: url(images/sk_cam_plus_xl@1xdark.jpg);
    }
}
@media (min-width: 1200px) {
    .mainbaner {
        background-image: url(images/sk_cam_plus_xl@1xdark.jpg);
    }
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}
.animated2 {
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}
.animated3 {
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

#mainbanerheader{
    font-family: Roboto Light,sans-serif;
    margin: 0;
    padding-top: 2rem;
    text-align: center;
    color: white;
    font-size: 52px;
    text-shadow: 8px 9px 5px rgba(0,0,0,1);
}
#mainbanertext{
    font-family: Roboto Light,sans-serif;
    margin: 0;
    padding-top: 2rem;
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow: 8px 9px 8px rgba(0,0,0,1);
}
a{
    text-decoration: none;

}
button{
margin: 0.5rem;
}
.for{
    background-color: #f0f0f0;
}
.headerfor{
    padding: 5rem 0 5rem 0;
    text-align: center;
    font-family: Roboto Medium,sans-serif;
    font-size: 48px;
}
h1{
    margin:0;
}
.col-xl-3{
    text-align: center;
    padding: 2rem 0 2rem 0;
}
.col-xl-3 p, .col-xl-3 i{
    padding: 1rem 0 1rem 0;
}
.row{
    margin: 0;
}
.pricebutton{
    text-align: center;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

}
.pricebutton:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.alarminfo col-lg-8{
    font-size: 32px;
    font-family: Roboto Medium,sans-serif;
}
.alarminfo p{
    text-align: center;
}
.video{
    margin: 2rem;
    text-align: center;
}
video{
    border-radius: 2%;
    width: 50%;
}
.kit{
    background-color: #e0e0e0;
}
.row{
    margin: 1rem;
}
.col-lg-6 {
margin: 1rem 0rem 1rem 0rem;
}
.col-lg-6:hover{
    filter: blur(0px);
}
img {
    filter: brightness(50%);
    margin: 1rem;
    border-radius: 5%;
    width: 100%;
    height: 100%;
}
.imagetexthover {
    font-family: Roboto Medium,sans-serif;
    filter: none!important;
    color: white;
    text-align: left;
    position: absolute;
    top: 65%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    text-shadow: 4px 4px 20px rgba(255,255,255,255);
}
